# TP NoSQL

Prénom :

Nom : 

Pour ce TP noté vous avez à trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [2]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [78]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://user_mongo:UjKNlDf06qv0dnns@cluster-but-sd.qs39y.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd'
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['airbnb']

1. Combien de logements sont la base de données ?

In [80]:
db.airbnb.count_documents({}) #Il y a 5555 logements dans la base de données

5555

2. Quel est le prix moyen par ville ? Trier les villes par prix décroissant.

In [117]:
db.airbnb.aggregate([
    {"$group": {"_id":"address.market","Prix_Moyen" : { "$avg": "$price"}}}
])
 { "$group": { "_id": "address.market", "score": {"$avg":"$review_scores.review_scores_rating"}}}
pd.DataFrame(list(c))

Empty DataFrame
Columns: []
Index: []

3. Afficher la liste de tous les différents équipements qui existent.

In [113]:
db.restaurants.find( {}, {"amenities": 1 })
pd.DataFrame(list(abc))

Empty DataFrame
Columns: []
Index: []

4. Combien de propriétés incluent le Wifi dans les équipements ?

In [123]:
db.airbnb.count_documents({ "amenities": "Wifi" })

5303

5. Afficher le nom de tous les logements ainsi que le nombre de chambres et de lits qu'ils contiennent (ne pas afficher l'ID)

In [103]:
abc = db.airbnb.find( {}, {"name": 1, "bedrooms": 1, "beds": 1, "_id": 0 })
pd.DataFrame(list(abc))

                                                  name  bedrooms  beds
0                          Apt Linda Vista Lagoa - Rio       1.0   1.0
1                   Ótimo Apto proximo Parque Olimpico       2.0   2.0
2                       Modern Spacious 1 Bedroom Loft       1.0   2.0
3     Ligne verte - à 15 min de métro du centre ville.       0.0   1.0
4                              Ribeira Charming Duplex       3.0   5.0
...                                                ...       ...   ...
5550     Estudio en el casco antiguo. Alquiler mensual       0.0   3.0
5551  Qto Aconchegante no em frente ao Parque Olímpico       1.0   1.0
5552                  StayIN Oporto Música - Apartment       8.0   8.0
5553                                      Quarto Legal       1.0   1.0
5554                                                         1.0   1.0

[5555 rows x 3 columns]

6. Afficher le nom et le prix des logements situés à Porto.

In [109]:
abc = db.airbnb.find( {"address.market": "Porto"}, {"name": 1, "price": 1, "_id":0 })
pd.DataFrame(list(abc))

                                    name   price
0                Ribeira Charming Duplex   80.00
1                      Be Happy in Porto   30.00
2    Downtown Oporto Inn (room cleaning)   40.00
3                         FloresRooms 3T   31.00
4     A Casa Alegre é um apartamento T1.   40.00
..                                   ...     ...
549         Number283 - Your home abroad   48.00
550        Cozy apartment downtown Porto   58.00
551                   Soares Guest House   90.00
552   Central, Modern, University, Metro   41.00
553     StayIN Oporto Música - Apartment  500.00

[554 rows x 2 columns]

7. Quels sont les 5 hôtes les plus populaires (ceux dont les propriétés ont reçu le plus de commentaires) ?

8. Quelles sont les 6 villes ayant le plus de logements disponibles à la location ?

9. Combien de propriétés acceptent plus de 4 invités et ont une caution de moins de 300€ ?

10. Donner les 20 utilisateurs qui ont fait le plus de commentaires (afficher seulement l'ID et le nom de l'utilisateur).

11. Parmi les logements à Sydney, quel est la note moyenne des visiteurs ?

In [115]:
c = db.airbnb.aggregate([
    { "$match": { "address.market": "Sydney" }},
     { "$group": { "_id": "address.market", "score": {"$avg":"$review_scores.review_scores_rating"}}}
])
pd.DataFrame(list(c))

              _id     score
0  address.market  93.45567

12. (bonus) Afficher les logements qui contiennent le mot "park" dans leur nom

13. (bonus) Afficher le nom des logements ayant une lattitude comprise entre 36,1 et 40,6 dont le prix est entre 100 et 200 euros.