# TP NoSQL

Prénom :

Nom : 

Pour ce TP noté vous avez à trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [2]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [6]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://user_mongo:UjKNlDf06qv0dnns@cluster-but-sd.qs39y.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd'
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['airbnb']

1. Combien de logements sont la base de données ?

In [112]:
db.airbnb.count_documents({}) #Il y a 5555 logements dans la base de données

5555

2. Quel est le prix moyen par ville ? Trier les villes par prix décroissant.

In [120]:
b=db.airbnb.aggregate([
    {"$group": {"_id":"$address.market","Prix_Moyen" : { "$avg": "$price"}}}
])
pd.DataFrame(list(b))
#Il y a 14 villes, et la ville dont le prix moyen du logement est le plus grand est Hong Kong avec environ 762.5€.

                      _id                           Prix_Moyen
0                New York  139.6260296540362438220757825370675
1                   Porto  69.12815884476534296028880866425993
2               Barcelona  100.9477848101265822784810126582278
3                  Sydney  197.7142857142857142857142857142857
4          Rio De Janeiro  525.8059701492537313432835820895522
5                   Kauai  288.8208955223880597014925373134328
6                    Oahu  212.2964426877470355731225296442688
7               Hong Kong  762.4781906300484652665589660743134
8        Other (Domestic)                               128.00
9                Istanbul  367.9454545454545454545454545454545
10         The Big Island  179.4604316546762589928057553956835
11                                                      115.50
12  Other (International)                               445.75
13                   Maui  286.5882352941176470588235294117647
14               Montreal  100.2330246913580246913580246913580

3. Afficher la liste de tous les différents équipements qui existent.

In [42]:
db.airbnb.find( {}, {"amenities": 1 })
pd.DataFrame(list(abc))

Empty DataFrame
Columns: []
Index: []

4. Combien de propriétés incluent le Wifi dans les équipements ?

In [118]:
db.airbnb.count_documents({ "amenities": "Wifi" }) #Il y a 5303 propriétés qui incluent le wifi dans les équipements.

5303

5. Afficher le nom de tous les logements ainsi que le nombre de chambres et de lits qu'ils contiennent (ne pas afficher l'ID)

In [46]:
abc = db.airbnb.find( {}, {"name": 1, "bedrooms": 1, "beds": 1, "_id": 0 })
pd.DataFrame(list(abc)) #A partir de ce code on peut voir par exemple que le logement "Ribeira Charming Duplex" possède 3 chambres et 5 lits.

                                                  name  bedrooms  beds
0                          Apt Linda Vista Lagoa - Rio       1.0   1.0
1                   Ótimo Apto proximo Parque Olimpico       2.0   2.0
2                       Modern Spacious 1 Bedroom Loft       1.0   2.0
3     Ligne verte - à 15 min de métro du centre ville.       0.0   1.0
4                              Ribeira Charming Duplex       3.0   5.0
...                                                ...       ...   ...
5550     Estudio en el casco antiguo. Alquiler mensual       0.0   3.0
5551  Qto Aconchegante no em frente ao Parque Olímpico       1.0   1.0
5552                  StayIN Oporto Música - Apartment       8.0   8.0
5553                                      Quarto Legal       1.0   1.0
5554                                                         1.0   1.0

[5555 rows x 3 columns]

6. Afficher le nom et le prix des logements situés à Porto.

In [12]:
abc = db.airbnb.find( {"address.market": "Porto"}, {"name": 1, "price": 1, "_id":0 })
pd.DataFrame(list(abc)) #ce code permet de voir tous les logements situés à Porto avec leurs noms et leurs prix. A titre d'exemple on a le "Be Happy in Porto" dont le prix est de 30€

                                    name   price
0                Ribeira Charming Duplex   80.00
1                      Be Happy in Porto   30.00
2    Downtown Oporto Inn (room cleaning)   40.00
3                         FloresRooms 3T   31.00
4     A Casa Alegre é um apartamento T1.   40.00
..                                   ...     ...
549         Number283 - Your home abroad   48.00
550        Cozy apartment downtown Porto   58.00
551                   Soares Guest House   90.00
552   Central, Modern, University, Metro   41.00
553     StayIN Oporto Música - Apartment  500.00

[554 rows x 2 columns]

7. Quels sont les 5 hôtes les plus populaires (ceux dont les propriétés ont reçu le plus de commentaires) ?

In [124]:
top5 = db.airbnb.aggregate([
    {"$unwind": "$reviews"},
    { "$group": { "_id": "$_id", "nb": { "$sum": 1 }}},
    { "$sort": { "nb": -1 }},
    { "$limit": 5}
])
pd.DataFrame(list(top5)) 

#Un des 5 hôtes les plus populaires est l'ID "476983", il a reçu 420 commentaires ce qui fait de lui le 4e le plus populaire.

        _id   nb
0   4069429  533
1  12954762  469
2     95560  463
3    476983  420
4   5283892  408

8. Quelles sont les 6 villes ayant le plus de logements disponibles à la location ?

In [18]:
top5 = db.airbnb.aggregate([
    { "$group": { "_id": "$address.market", "nb": { "$sum": 1 }}},
    { "$sort": { "nb": -1 }},
    { "$limit": 6}
])
pd.DataFrame(list(top5))
#Les 6 villes qui ont le plus de logements disponibles à la location sont: Istanbul (660) Montreal(648) Barcelona (632) Hong Kong (619) Sydney(609) et New York.

         _id   nb
0   Istanbul  660
1   Montreal  648
2  Barcelona  632
3  Hong Kong  619
4     Sydney  609
5   New York  607

9. Combien de propriétés acceptent plus de 4 invités et ont une caution de moins de 300€ ?

In [102]:
a=db.airbnb.aggregate([
     {"$match": {"guests_included": {"$gt": 4},
                {"security_deposit": {"$lt":300}
                }
                }
     }
])
pd.DataFrame(list(a))

SyntaxError: ':' expected after dictionary key (1068669350.py, line 3)

10. Donner les 20 utilisateurs qui ont fait le plus de commentaires (afficher seulement l'ID et le nom de l'utilisateur).

11. Parmi les logements à Sydney, quel est la note moyenne des visiteurs ?

In [115]:
c = db.airbnb.aggregate([
    { "$match": { "address.market": "Sydney" }},
     { "$group": { "_id": "address.market", "score": {"$avg":"$review_scores.review_scores_rating"}}}
])
pd.DataFrame(list(c))
#A Sydney la note moyenne des visiteurs est envirion 93.5/100

              _id     score
0  address.market  93.45567

12. (bonus) Afficher les logements qui contiennent le mot "park" dans leur nom

13. (bonus) Afficher le nom des logements ayant une lattitude comprise entre 36,1 et 40,6 dont le prix est entre 100 et 200 euros.